* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('/resources/images/firewatch_morning.jpg');
  background-size: cover;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 25% auto 15%;
}

.info-container {
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 70% 30%;
  justify-content: center;
}

#clock {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 7em;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}
#date {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  justify-content: end;
  align-items: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
#weather {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

#weather img {
  scale: 0.8;
  margin: 0px;
  padding: 0px;
}

#clock span {
  margin: 0px;
  padding: 0px;
}

.fav-container {
  height: 100%;
  width: 100%;
  grid-row: 2;
  grid-column: 2;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 15% auto 15%;
}

.fav-container div {
  background-color: white;
  opacity: 60%;
  border-radius: 15px;
  padding: 50px;
  margin-top: 50px;
  font-size: 1.5em;
}

.fav-container h1 {
  font-size: 1em;
}

.fav-container ul {
  list-style: none;
}

.programming {
  grid-row: 2;
  grid-column: 1;
}

.design {
  grid-row: 2;
  grid-column: 2;
}

.entertainment {
  grid-row: 2;
  grid-column: 3;
}

.quote-container {
  background-color: gray;
  grid-row: 3;
  grid-column: 2;
  margin: 25px 0px 20px 0px;
  opacity: 50%;
}
