* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
   
    background-image: (<img src="https://images6.alphacoders.com/712/712437.jpg")
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.link_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 10px;
    justify-content: space-around;
    position: absolute;
    bottom: 30%;
    left: 25%;
    background-color: beige;
}

.reddit{
    
}

.youtube{
    
}

.twitter{
    
}

.github{
    
}